.media_container {
            width: 100%;
            margin:auto;
}

.centered_image_wrapper {
            margin:20px;
            position: relative;
            padding-bottom: 178%;
            overflow: hidden;
}

.centered_image_wrapper img {
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
}
